<h1> Insertar juego a la DB </h1>
<form action="#" method="post" enctype="multipart/form-data">
  <label for="id">id:</label>
  <input type="text" id="id" name="id" required><br>

  <label for="name">Name: </label>
  <input type="text" id="name" name="name" required><br>

  <label for="description">Description: </label>
  <input type="text" id="description" name="description" required><br>

  <label for="releasedate">Release Date: </label>
  <input type="date" id="releasedate" name="releasedate" required><br>

  <label for="platform">Platform: </label>
  <input type="text" id="platform" name="platform" required><br>

  <label for="foto">Foto:</label>
  <input type="file" id="foto" name="foto" accept="image/*" required><br>

  <input type="submit" value="Enviar">
</form>
</body>